@(studentForm : Form[Student])

@import helper._
@import helper.twitterBootstrap._

@main("Student form"){
    <h1>Student form</h1>
    @helper.form(CSRF(routes.Students.save())){
        <input type="hidden" value="@studentForm("id").valueOr("")" name="id"/>
                <fieldset>
                    <legend>Student (@studentForm("name").valueOr("New"))</legend>
                    @helper.inputText(studentForm("login"), '_label -> "Login")
                    @helper.inputText(studentForm("name"), '_label -> "Name")
                    @helper.inputText(studentForm("address"), '_label -> "Address")
                    @helper.inputText(studentForm("email"), '_label -> "Email ")
                    @helper.inputText(studentForm("phone"), '_label -> "Phone")
                    @helper.inputText(studentForm("date"), '_label -> "Birthday")
                    @helper.select(studentForm("Faculty"),
                    options = options(Seq("Công nghệ thông tin","Điện tử viễn thông","Cơ học kỹ thuật","Vật lý kỹ thuật")),
                    '_label -> "Faculty")
                    @helper.inputText(studentForm("course"), '_label -> "Course")
                </fieldset>
                <div class="control-group">
                    <div class="controls">
                        <input name="tags[0].id" value="1" type="checkbox"
                        @for(i <- 0 to 2){
                        @if(studentForm("tags[" + i + "].id").value == "1") { checked }
                        }>lightweight
                        <input name="tags[1].id" value="2" type="checkbox"
                        @for(i <- 0 to 2){
                        @if(studentForm("tags[" + i + "].id").value == "2") { checked }
                        }>metal
                        <input name="tags[2].id" value="3" type="checkbox"
                        @for(i <- 0 to 2){
                        @if(studentForm("tags[" + i + "].id").value == "3") { checked }
                        } > plastic
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Save">
                <a class="btn" href="@routes.Students.list()"> Cancel</a>
                    }
}