@(loginForm: Form[Application.Login])
    @import helper._
    @import helper.twitterBootstrap._

    @main("Please sign in to the Manage Students application") {
        @helper.form(helper.CSRF(routes.Application.authenticate)) {
            <h1>Sign in</h1>
            <p>
                <input type="email" name="email" placeholder="Email"
                value="@loginForm("email").value">
            </p>
            <p>
                <input type="password" name="password"
                placeholder="Password">
            </p>
            <p>
                <button type="submit">Sign in</button>
            </p>
        }
    }